<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Me</h2>
    <p >Computer Engineering, University of Waterloo</p>
    <p>Software Engineering Intern, Brain Station 23 PLC.</p>
  </div>
</body>
</html>
